<div class="chatbot-flow-container">
  <div class="header">
    <div class="header-left">
      <h2>Create Story</h2>
    </div>
    <div class="header-actions">
      <button
        mat-raised-button
        color="primary"
        class="save-button"
        (click)="saveFlow()"
      >
        Save
      </button>
    </div>
  </div>

  <div class="main-content">
    <div class="left-sidebar">
      <div class="sidebar-header">
        <p class="instruction-text">
          Drag blocks to the node tree below using the drag handle
        </p>
      </div>

      <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Search..."
            [formControl]="searchControl"
          />
        </mat-form-field>
      </div>

      <div class="blocks-list" cdkDropList (cdkDropListDropped)="drop($event)">
        <div
          *ngFor="let block of filteredBlocks$ | async"
          class="block-item"
          cdkDrag
          (click)="addBlockToCanvas(block)"
        >
          <div
            class="block-icon"
            [style.background-color]="getStatusColor(block.status)"
          >
            <mat-icon>{{ block.icon }}</mat-icon>
          </div>

          <div class="block-content">
            <div class="block-name">{{ block.name }}</div>
            <div class="block-description" *ngIf="block.description">
              {{ block.description }}
            </div>
          </div>

          <div class="drag-handle" cdkDragHandle>
            <mat-icon>drag_indicator</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="canvas-area" [class.sidebar-open]="rightSidebarOpen">
      <div class="canvas-controls">
        <div class="zoom-controls">
          <button
            mat-icon-button
            (click)="zoomIn()"
            [disabled]="zoomLevel >= maxZoom"
          >
            <mat-icon>add</mat-icon>
          </button>
          <span class="zoom-level"
            >{{ zoomLevel * 100 | number : "1.0-0" }}%</span
          >
          <button
            mat-icon-button
            (click)="zoomOut()"
            [disabled]="zoomLevel <= minZoom"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <button mat-icon-button (click)="resetZoom()" matTooltip="Reset zoom">
          <mat-icon>center_focus_strong</mat-icon>
        </button>
      </div>

      <div
        class="canvas-wrapper"
        #canvasWrapper
        [style.cursor]="isPanning ? 'grabbing' : 'default'"
      >
        <svg class="connections-svg" #svgCanvas>
          <path
            *ngFor="let conn of connections"
            [attr.d]="
              'M ' +
              conn.fromPoint.x +
              ',' +
              conn.fromPoint.y +
              ' Q ' +
              (conn.fromPoint.x + conn.toPoint.x) / 2 +
              ',' +
              conn.fromPoint.y +
              ' ' +
              conn.toPoint.x +
              ',' +
              conn.toPoint.y
            "
            class="connection-line"
            stroke="#6366f1"
            stroke-width="2"
            fill="none"
          ></path>

          <path
            *ngIf="temporaryConnection"
            [attr.d]="
              'M ' +
              temporaryConnection.x1 +
              ',' +
              temporaryConnection.y1 +
              ' L ' +
              temporaryConnection.x2 +
              ',' +
              temporaryConnection.y2
            "
            class="temp-connection-line"
            stroke="#6366f1"
            stroke-width="2"
            stroke-dasharray="5,5"
            fill="none"
          ></path>
        </svg>

        <div class="canvas-content" #canvasContent>
          <div class="flow-start-indicator">
            <div class="flow-start-text">Flow starts here</div>
            <div class="flow-start-arrow">
              <mat-icon>arrow_downward</mat-icon>
            </div>
          </div>

          <div
            *ngFor="let block of canvasBlocks"
            class="canvas-block"
            [class]="'canvas-block-' + block.type"
            [class.selected]="selectedBlock?.id === block.id"
            [style.left.px]="block.x"
            [style.top.px]="block.y"
            [style.border-color]="getStatusColor(block.status)"
            [style.background-color]="getTypeColor(block.type)"
            cdkDrag
            (cdkDragEnded)="onBlockDragEnded($event, block)"
            (mousedown)="endConnection($event, block)"
          >
            <div class="block-header">
              <!-- Not touching part -->
              <div class="block-type-badges">
                <div class="block-title" (click)="selectBlock(block)">
                  <mat-icon class="block-icon">{{ block.icon }}</mat-icon>
                  <span>{{ block.name }}</span>
                </div>
                <span
                  *ngIf="
                    block.type === 'userInput' &&
                    block.subType === 'keywordGroup'
                  "
                  class="badge keyword-group-badge"
                >
                  Keyword Group
                </span>
                <span
                  *ngIf="
                    block.type === 'userInput' && block.subType === 'phrase'
                  "
                  class="badge phrase-badge"
                >
                  Phrase
                </span>
                <span
                  *ngIf="
                    block.type === 'userInput' && block.subType === 'anything'
                  "
                  class="badge anything-badge"
                >
                  Type Anything
                </span>
              </div>

              <div class="block-actions">
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="blockMenu"
                  class="block-menu-trigger"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>

                <!-- Not touching part -->
                <mat-menu #blockMenu="matMenu">
                  <button mat-menu-item (click)="editCanvasBlock(block)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="duplicateCanvasBlock(block)">
                    <mat-icon>content_copy</mat-icon>
                    <span>Duplicate</span>
                  </button>
                  <button mat-menu-item (click)="removeCanvasBlock(block.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>

            <div class="block-body">
              <!-- shift block title from there -->
              <!-- <div class="block-title" (click)="selectBlock(block)">
                <mat-icon class="block-icon">{{ block.icon }}</mat-icon>
                <span>{{ block.name }}</span>
              </div> -->
              <div class="block-description" *ngIf="block.description">
                {{ block.description }}
              </div>

              <div
                *ngIf="
                  block.type === 'userInput' && block.subType === 'keywordGroup'
                "
                class="keywords-container"
              >
                <div class="keywords-list">
                  <mat-chip-listbox>
                    <mat-chip-option
                      *ngFor="let keyword of block.keywords"
                      class="keyword-chip"
                      (removed)="removeKeyword(block, keyword)"
                    >
                      <h5 class="exact-keyword">{{ keyword }}</h5>
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-option>
                  </mat-chip-listbox>
                </div>
                <input
                  type="text"
                  class="keyword-input"
                  placeholder="Add keyword..."
                  (keydown)="addKeyword(block, $event)"
                />
              </div>

              <div
                *ngIf="block.content && block.type !== 'userInput'"
                class="block-content-text"
              >
               Delay : {{ block.content }}
              </div>
            </div>

            <div
              class="connection-point connection-output"
              (mousedown)="startConnection($event, block)"
            >
              <div class="connection-dot"></div>
            </div>

            <div class="connection-point connection-input">
              <div class="connection-dot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="right-sidebar"
      [class.open]="rightSidebarOpen"
      *ngIf="selectedBlock"
    >
      <div class="right-sidebar-header">
        <div class="sidebar-title">
          <mat-icon>{{ selectedBlock.icon }}</mat-icon>
          <span>{{ selectedBlock.name }}</span>
          <span
            *ngIf="selectedBlock.type === 'userInput' && selectedBlock.subType"
            class="badge"
            [class.keyword-group-badge]="
              selectedBlock.subType === 'keywordGroup'
            "
            [class.phrase-badge]="selectedBlock.subType === 'phrase'"
            [class.anything-badge]="selectedBlock.subType === 'anything'"
          >
            {{
              selectedBlock.subType === "keywordGroup"
                ? "Keyword Group"
                : selectedBlock.subType === "phrase"
                ? "Phrase"
                : selectedBlock.subType === "anything"
                ? "Type Anything"
                : selectedBlock.subType
            }}
          </span>
        </div>
        <button mat-icon-button (click)="closeSidebar()" class="close-btn">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="right-sidebar-content">
        <div *ngIf="selectedBlock.type === 'userInput'">
          <p class="config-description">
            If user query matches a combination of keywords or datastore values
          </p>

          <div class="toggle-container">
            <mat-button-toggle-group
              [(value)]="selectedInputMode"
              (change)="onInputModeChange($event)"
            >
              <mat-button-toggle value="keyword" class="toggle-keyword">
                Keyword
              </mat-button-toggle>
              <mat-button-toggle value="variable" class="toggle-variable">
                Variable
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div
            *ngIf="
              selectedBlock.subType === 'keywordGroup' &&
              selectedInputMode === 'keyword'
            "
          >
            <div class="keywords-section">
              <div class="keywords-display">
                <mat-chip-listbox>
                  <mat-chip-option
                    *ngFor="let keyword of selectedBlock.keywords"
                    class="keyword-chip-large"
                    (removed)="removeKeyword(selectedBlock, keyword)"
                  >
                    <h5 class="exact-keyword">{{ keyword }}</h5>
                    <button matChipRemove>
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-chip-option>
                </mat-chip-listbox>
              </div>

              <div class="add-keyword-section">
                <mat-form-field
                  appearance="outline"
                  class="keyword-input-field"
                >
                  <input
                    matInput
                    placeholder="Add keywords"
                    [(ngModel)]="newKeyword"
                    (keydown)="addKeywordFromSidebar($event)"
                  />
                </mat-form-field>
              </div>

              <div class="add-keyword-group">
                <button mat-stroked-button class="add-group-btn">
                  <mat-icon>add</mat-icon>
                  Add Keyword Group
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="selectedBlock.subType === 'phrase'">
            <mat-form-field appearance="outline" class="phrase-input">
              <mat-label>Enter phrase</mat-label>
              <input
                matInput
                [(ngModel)]="selectedBlock.phraseText"
                placeholder="Type the exact phrase..."
              />
            </mat-form-field>
          </div>

          <div *ngIf="selectedBlock.subType === 'anything'">
            <div class="anything-config">
              <p>This block will match any user input</p>
              <mat-form-field appearance="outline">
                <mat-label>Custom message (optional)</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="selectedBlock.customMessage"
                  placeholder="Add a custom message..."
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div *ngIf="selectedBlock.type === 'textResponse'">
          <h4 class="text-lg font-semibold text-gray-800 mb-2 section-title">
            Bot Says
          </h4>
          <div class="input-group w-full h-full">
            <mat-form-field appearance="outline" class="w-full h-full">
              <!-- <mat-label>Type chatbot response</mat-label> -->
              <textarea
                matInput
                [(ngModel)]="selectedBlock.content"
                placeholder="Type chatbot response..."
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="8"
                class="w-full max-h-20 overflow-y-auto resize-none"
              ></textarea>
            </mat-form-field>
          </div>

          <button
            mat-flat-button
            color="primary"
            class="add-alternate-responses-button"
            (click)="toggleAlternateResponses()"
          >
            Add Alternate Responses
          </button>

          <div class="mt-2" *ngIf="showAlternateResponses">
            <h4 class="text-lg font-semibold text-gray-800 mb-2 section-title">
              Bot Says
            </h4>
            <mat-form-field appearance="outline" class="w-full h-full">
              <!-- <mat-label>Type chatbot response</mat-label> -->
              <textarea
                matInput
                [(ngModel)]="selectedBlock.content"
                placeholder="Type chatbot response..."
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="8"
                class="w-full max-h-20 overflow-y-auto resize-none"
              ></textarea>
            </mat-form-field>
            <div class="alternate-response-actions">
              <button mat-flat-button color="primary">Add</button>
              <button mat-stroked-button>Generate from AI</button>
              <button
                mat-stroked-button
                color="warn"
                (click)="toggleAlternateResponses()"
              >
                Hide
              </button>
            </div>
          </div>
          <div class="quick-replies-section mt-2">
            <h4 class="text-lg font-semibold text-gray-800 mb-2 section-title">
              Add Quick Replies
            </h4>
            <!-- Add keyword input -->
          </div>
        </div>
        <div *ngIf="selectedBlock.type === 'typingDelay'">
          <h4 class="text-lg font-semibold text-gray-800 mb-2 section-title">
            Typing Delay (s) : {{ typingDelay }}
          </h4>

          <input
            id="typingDelay"
            type="range"
            min="0"
            max="20"
            [(ngModel)]="typingDelay"
            class="w-full color-red-900"
          />
        </div>
        <div
          *ngIf="
            selectedBlock.type !== 'userInput' &&
            selectedBlock.type !== 'textResponse'
          "
        >
          <p>
            Configuration options for {{ selectedBlock.name }} will be displayed
            here.
          </p>
        </div>
      </div>
    </div>

    <div
      class="sidebar-overlay"
      [class.active]="rightSidebarOpen"
      (click)="closeSidebar()"
    ></div>
  </div>
</div>
