<!-- src/app/shared/components/message-box/message-box.component.html -->
<div class="message-box-overlay" (click)="onClose()"></div>
<div class="message-box" [ngClass]="colorClass">
  <div class="message-box-header">
    <mat-icon [class]="type + '-icon'">{{ icon }}</mat-icon>
    <span class="message-box-title">{{ type | uppercase }}</span>
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="message-box-content">
    <p>{{ message }}</p>
  </div>
</div>
