.phone-frame-container {
    height: 1000px; /* Fixed height to show only the top part of the phone as per image_473001.jpg */
    overflow: auto; /* Hide the overflowing bottom part of the phone */
    display: flex;
    justify-content: center;
}

.phone-half-frame-height {
  width: 580px;
  height: 1100px;
  overflow: hidden;
  position: relative;
}


/* Responsive adjustments */
@media (max-width: 640px) {
    .phone-frame-container {
        transform: scale(0.9);
    }
}

.centered-container {
  display: flex;
  justify-content: center;
}