<!-- === Canvas View (When block is NOT selected) === -->
<ng-container *ngIf="!isSelected">
  <div class="canvas-block link-story-block" (click)="onSelectBlock()">
    <div class="block-header">
      <div class="block-title">
        <mat-icon class="block-icon" >mail</mat-icon>
        <span class="block-title-text">Link Story</span>
      </div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="blockMenu"
        class="block-menu-trigger"
        (click)="$event.stopPropagation()"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #blockMenu="matMenu">
       
     <div class="block-close-icon">
  <button mat-icon-button class="close-btn" (click)="onRemoveBlock()" aria-label="Remove Block">
    <mat-icon>close</mat-icon>
  </button>
</div>

      </mat-menu>
    </div>

    <div class="block-body">
      <div class="description-box">
        <p class="block-description">
          Redirect the flow to another story in your chatbot
        </p>
        <p class="block-instruction">
          Click <mat-icon inline>more_vert</mat-icon> to set up your block
        </p>
      </div>
    </div>
    
  </div>

  <!-- Connection dots -->
  <div
    class="connection-point connection-output"
    (mousedown)="onStartConnection($event)"
  >
    <div class="connection-dot"></div>
  </div>
  <div class="connection-point connection-input">
    <div class="connection-dot"></div>
  </div>
</ng-container>


<!-- === Form Panel (Only when selected) === -->
<ng-container *ngIf="isSelected">
  <div class="link-story-container">
    <div class="header">
      <h3 class="title">Link Story</h3>
      <p class="subtitle">Redirect the flow to another story in your chatbot</p>
    </div>

    <div class="form-group">
      <label class="field-label">
        Select Story
        <mat-icon
          matTooltip="You can't add more blocks after Story Link, as the flow moves to the linked story"
          matTooltipPosition="above"
          class="info-icon"
        >info</mat-icon>
      </label>

      <mat-form-field class="custom-select" appearance="outline">
        <mat-select
          placeholder="Select Story"
          [(ngModel)]="block.linkStoryId"
          (selectionChange)="onStorySelectionChange()"
        >
          <mat-option
            *ngFor="let story of availableStories"
            [value]="story.id"
          >
            {{ story.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-container>
